/* CSS Teddy */

/* Home -- Academy */
.img-home-client {
    filter: grayscale(100);
    opacity: 0.5;
}
.img-home-client:hover {
    filter: unset;
    opacity: unset;
}
.bg-promo {
    background: #ffffff;
    height: 250px;
    width: 100%;
    border-radius: 25px;
}

.desc-academy {
    font-size: 14px;
}
.btn-outline-academy {
    font-size: 14px;
    padding: 10px;
    width: 100%;
}
.btn-outline-academy:hover {
    background: #2db681;
    color: #fff;
}
.form-control,
.form-select {
    height: 50px;
}
#next-arrow-testi {
    --swiper-navigation-size: 14px;
    height: 30px;
    width: 30px;
    top: 200px;
    color: #707071;
    border: 1px solid #707071;
    border-radius: 30px;
    padding-top: 0px;
    padding-left: 2px;
    margin-right: -10px;
}
#prev-arrow-testi {
    --swiper-navigation-size: 14px;
    height: 30px;
    width: 30px;
    top: 200px;
    color: #707071;
    border: 1px solid #707071;
    border-radius: 30px;
    padding-top: 0px;
    padding-left: 0px;
    margin-left: -10px;
}

#next-arrow-promo {
    --swiper-navigation-size: 14px;
    height: 30px;
    width: 30px;
    top: 120px;
    color: #ffffff;
    background: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    padding-top: 0px;
    padding-left: 2px;
    margin-right: -10px;
}
#prev-arrow-promo {
    --swiper-navigation-size: 14px;
    height: 30px;
    width: 30px;
    top: 120px;
    color: #ffffff;
    background: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    padding-top: 0px;
    padding-left: 0px;
    margin-left: -10px;
}

#arrow-next-review {
    --swiper-navigation-size: 14px;
    height: 30px;
    width: 30px;
    top: 280px;
    color: #ffffff;
    background: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    padding-top: 0px;
    padding-left: 2px;
    margin-right: -10px;
}
#arrow-prev-review {
    --swiper-navigation-size: 14px;
    height: 30px;
    width: 30px;
    top: 280px;
    color: #ffffff;
    background: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    padding-top: 0px;
    padding-left: 0px;
    margin-left: -10px;
}

.more-clients {
    color: #0171ce;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.3px;
    border: unset;
    background: transparent;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .courses-cards {
        width: 100% !important;
        height: auto !important;
        padding-bottom: 50px !important;
    }
    .titles-courses {
        font-size: 28px !important;
    }
    .desc-courses {
        font-size: 16px !important;
        line-height: 30px !important;
    }
    .btn-cancel-x,
    .btn-register-x {
        height: 50px !important;
        font-size: 14px !important;
    }
    .back-to-home p {
        font-size: 14px !important;
        font-weight: 600 !important;
    }
    .registration
        .card-registration
        .registration-form
        .registration-type
        .registration-instruction {
        width: 100%;
    }
    .registration
        .card-registration
        .registration-form
        .registration-type
        .registration-offline {
        width: 100%;
        margin: 0px 0px 10px 0;
    }
    .registration
        .card-registration
        .registration-form
        .registration-type
        .registration-online {
        width: 100%;
        margin: 0px 0px 10px 0;
    }
}

/* XS */
@media only screen and (max-width: 575px) {
    .courses-cards {
        width: 100% !important;
        height: auto !important;
        padding-bottom: 50px !important;
    }
    .titles-courses {
        font-size: 28px !important;
    }
    .desc-courses {
        font-size: 16px !important;
        line-height: 30px !important;
    }
    .btn-cancel-x,
    .btn-register-x {
        height: 50px !important;
        font-size: 14px !important;
    }
    .back-to-home p {
        font-size: 14px !important;
        font-weight: 600 !important;
    }
    .registration
        .card-registration
        .registration-form
        .registration-type
        .registration-instruction {
        width: 100%;
    }
    .registration
        .card-registration
        .registration-form
        .registration-type
        .registration-offline {
        width: 100%;
        margin: 0px 0px 10px 0;
    }
    .registration
        .card-registration
        .registration-form
        .registration-type
        .registration-online {
        width: 100%;
        margin: 0px 0px 10px 0;
    }
}
